//@theme "/usr/share/rofi/themes/android_notification.rasi"
//@theme "/usr/share/rofi/themes/android_notification.rasi"
//@theme "/usr/share/rofi/themes/glue_pro_blue.rasi"
//@theme "/usr/share/rofi/themes/android_notification.rasi"
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/usr/share/rofi/themes/solarized_alternate.rasi"
//@theme "/usr/share/rofi/themes/android_notification.rasi"
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/usr/share/rofi/themes/glue_pro_blue.rasi"
//@theme "~/.config/rofi/themes/android_notification.rasi"
//@theme "/usr/share/rofi/themes/style-4.rasi"
//@theme "/home/freyja/.config/rofi/themes/style-4.rasi"
@theme "/home/freyja/.config/rofi/themes/style-4.rasi"
